<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title:title}); %>
    <body>
        <center>
            <%- include('../partials/navbar'); %>
            <h1>Hello my name is,</h1>
            <strong><h3><%= name %></h3></strong>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <button class="tiny ui labeled icon button" style="width: 200px;"><i class="plus icon"></i><span>Invite Me?</span></button>
        </center>
    </body>
</html>