<!-- If you're trying to find security bugs or reverse engineer then almost everything is handled server-side (requests, etc.) So good luck -->
<head>
    <title><%= title %></title>

    <script>console.log('This dashboard was generated with dbm-dashbaord by kashima-dot-com.');</script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>

    <style>
        @import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin");
        body {
            background-color: #36393e;
            color: white;
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
        .blue.active.item {
            background-color: #315381;
        }
    </style>
</head>