<div class="ui blue four item inverted menu" style="width: 95%; background-color: #3f6aa6;">
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/commands">
        Commands
    </a>
    <a class="item" href="google.com">
        Invite
    </a>
    <a class="item" href="google.com">
        Login with Discord
    </a>
</div>